// Specify project colors
$black: #000000;
$white: #ffffff;
$light-gray: #E0E0E0;
$medium-gray: #C9C9C9;
$darker-gray: #A0A0A0;
$color1: #0F002E;
$link-color: #2629A8;
$background: #f7f5f0;

// Now the scss
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: none;
}

a {
    color:blue;
    text-decoration: none;
}

#main-window {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;
}

#globe {
    margin-left: 0px;
    margin-right: auto;
    float: left;
    pointer-events: all;
/*          background-color: #ffee00;*/
}
#resume {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 60px;
    height: 40px;
    z-index: 2;
    background-image: url(../images/svg_pauseplay.svg);
    background-repeat: no-repeat;
}

.resume-stopped {
/*            background-color: red;*/
}

.resume-playing {
/*            background-color: green;*/
}

#description {
    margin-left: 0px;
    padding-top: 25px;
    padding-left: 25px;
    float: left;
    width: 500px;
    font-family: lato, serif;
}

#titling {
    margin-top: 15px;
    float: top;
    font-size: 20pt;
}

#main-text {
    font-size: 12pt;
    float: bottom;
}

#main-text h2 {
    font-size: 16pt;
    margin-top: 18px;
    margin-bottom: 30px;
}

#main-text p {
    padding-top: 10px;
    font-style: italic;
}

#data-text {
    font-size: 12pt;
}

#current-quake {
    margin-top: 30px;
    display: block;
    height: 40px;
}

#current-quake-time {
    margin-left: 20px;
}


#key {
    margin-top: 50px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#key h2 {
    font-size: 14pt;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}

#key p {
    margin: 0px;
    font-size: 9pt;
    color: gray;
}

.globe-outline {
    fill: #fff;
    fill-opacity: 1.0;
    stroke: #A9B4C0;
//    stroke: red;
    stroke-width: 3;
}

.quake {
//    fill: #f00;
//    stroke: #f00;
}

path {
    fill: #f00;
    stroke: #fff;
}

path.quake {
    fill: #f00;
    stroke: #f00;
    z-index: 2;
}

path.country {
    fill: #CED3D8;
    stroke: #fff;
}

footer {
    color: #c9c9c9;
    font-family: lato, serif;
    font-size: 9pt;
    position: absolute;
    bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
    color: gray;
}
