// Specify quick color shorthands
$black: #000000;
$white: #ffffff;
$light-gray: #E0E0E0;
$medium-gray: #C9C9C9;
$darker-gray: #A0A0A0;

// Functional colors
$background: #f9f6f5;
$text-color: #2A281B;
$text-color-light: #A0A0A0;
$text-color-medium: #656565;
//$link-color: #0F5272;
$link-color: #026594;
$globe-border: #A9B4C0;
//$arc-border: #EBEFF3;
$arc-border: #C2CDD8;

//$link-color: #1C4E66;


// Now the scss
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background-color: $background;
}

a {
    color: $link-color;
    text-decoration: none;
}

#main-window {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;
}

#globe {
    margin-left: 0px;
    margin-right: auto;
    float: left;
    pointer-events: all;
    background-color: $background;
}

.globe-outline {
    fill: $background;
    fill-opacity: 1.0;
    stroke: $globe-border;
//    stroke: red;
    stroke-width: 3;
}

.bounding-arc {
    stroke: none;
    fill: $arc-border;
//    stroke-width: 3;
}

#resume {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 60px;
    height: 40px;
    z-index: 2;
}

.resume-stopped {
    background-image: url(../images/svg_playlt.svg);
    background-repeat: no-repeat;
}

.resume-playing {
    background-image: url(../images/svg_pauselt.svg);
    background-repeat: no-repeat;
}

#description {
    margin-left: 0px;
    padding-top: 25px;
    padding-left: 35px;
    float: left;
    width: 500px;
    font-family: lato, serif;
}

#titling {
    margin-top: 15px;
    float: top;
    font-size: 20pt;
}

#main-text {
    font-size: 12pt;
    float: bottom;
}

#main-text h2 {
    font-size: 16pt;
    margin-top: 18px;
    margin-bottom: 15px;
}

#data-text {
    font-size: 11pt;
//    padding-top: 10px;
    margin-bottom: 25px;
}

#rollover {
    width: 500px;
    height: 60px;
}

#rollover p {
//    font-style: normal;
}

#sample-quake {
    margin-top: 20px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
//    background-color: green;
}

.sample-quake {
//    fill: #C9C9C9;
    stroke: #A0A0A0;
    stroke-width: 2;
}

.sample-quake-text {
//    font-style: italic;
    color: $text-color-medium;
}

.true-quake-text {
//    font-style: normal;
    // Optional
}

#current-quake {
    display: block;
    margin-top: 20px;
    padding-top: 6px;
    padding-left: 8px;
//    background-color: red;
    float: left;
    height: 50px;
    width: 400px;
}

#key {
    display: block;
    margin-top: 45px;
//    padding-top: 30px;
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#key h2 {
//    font-size: 14pt;
//    text-align: center;
//    margin: 0px;
//    padding-top: 10px;
}

#key p {
    margin: 0px;
    font-size: 9pt;
    color: $text-color-light;
}

.quake {
//    fill: #f00;
//    stroke: #f00;
}

path {
    fill: #f00;
    stroke: #fff;
}

path.quake {
    fill: #f00;
    stroke: #f00;
    z-index: 2;
}

path.country {
    fill: #CED3D8;
    stroke: #fff;
}

footer {
    color: $text-color-light;
    font-family: lato, serif;
    font-size: 9pt;
    position: absolute;
    bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
}
